.roster-grp {
    margin-top: 2%;
    justify-content: start;
    align-items: flex-start;
    align-content: flex-start;
}
.roster-box {
    box-shadow: 0 1px 3px rgba(0,0,0,0.3),1px 0 3px rgba(0,0,0,0.3), 0 -1px 3px rgba(0,0,0,0.3),-1px 0px 3px rgba(0,0,0,0.3);
    background-color: rgb(116, 126, 116);
    border: 1px solid white;
    padding: 7px 7px 2px 7px;
    width: 234px;
    margin: 5px;
    line-height: 160%;
    flex-shrink:0;
    display: inline-block;
}
.roster-name-tag {
    border: 1px solid white;
    border-radius: 5px;
    padding: 0.5% 4% 0.5% 4%;
    font-size:130%;
    background-color: rgb(43, 43, 43);
}
