{% extends "layout.html" %}
{% block content %}
<div class="flex-container">
    <div class="big-headline">
    WoW Token Prices
    </div>
    <div class="big-headline">
    EU {{ data.eu.gold }}g
    </div>
    <p class="footnote">Last updated: {{data.eu.updated}}</p>
    <div class="big-headline">
    US {{ data.us.gold }}g
    </div>
    <p class="footnote">Last updated: {{data.us.updated}}</p>
    <div class="big-headline">
    KR {{ data.kr.gold }}g
    </div>
    <p class="footnote">Last updated: {{data.kr.updated}}</p>
</div>
{% endblock content%}