{% extends "layout.html" %}
{% block content %}
<div class="flex-container-col">
    <div class="token-headline">
        WoW Token Prices
    </div>
    <div class="token-main-text">
        <span class="region-color">EU</span> {{ data[0][1] }}<span class="gold-color">g</span>
    </div>
    <p style="margin-top: 0%; margin-bottom: 0%">Highest today: {{data1[0][1]}}g at {{data1[0][4]}}</p>
    <p style="margin-top: 0%; margin-bottom: 0%">This month: {{data2.eu.gold}}g at {{data2.eu.date}}</p>
    <div class="token-main-text">
        <span class="region-color">KR</span> {{ data[1][1] }}<span class="gold-color">g</span>
    </div>
    <p style="margin-top: 0%; margin-bottom: 0%">Highest today: {{data1[1][1]}}g at {{data1[1][4]}}</p>
    <p style="margin-top: 0%; margin-bottom: 0%">This month: {{data2.kr.gold}}g at {{data2.kr.date}}</p>
    <div class="token-main-text">
        <span class="region-color">US</span> {{ data[2][1] }}<span class="gold-color">g</span>
    </div>
    <p style="margin-top: 0%; margin-bottom: 0%">Highest today: {{data1[2][1]}}g at {{data1[2][4]}}</p>
    <p style="margin-top: 0%; margin-bottom: 0%">This month: {{data2.us.gold}}g at {{data2.us.date}}</p>
</div>
<div class="footnote" style="margin-top: 2%;">
    Updated every 15 minutes
</div>
{% endblock content%}
{% block footer %}
<footer class="main-foot">This site uses data and images from Blizzard's World of Warcraft Community APIs. The site is
    in no way affiliated with or endorsed by Blizzard Entertainment, Inc.<br>
    World of Warcraft is a registered trademark of Blizzard Entertainment, Inc.</footer>
{% endblock footer %}