<!DOCTYPE HTML>
<html lang="en">
<head>
	{% if title %}
        <title>Frer.se - {{ title }}</title>
    {% else %}
        <title>Frer.se</title>
    {% endif %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/lookup.css') }}">
	<link href="{{ url_for('static', filename='images/frerfavicon.png') }}" rel="icon" type="image/x-icon"/>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    {% block head %}
        {% comment %} Page unique head content goes here {% endcomment %}
    {% endblock head %}
</head>
{% if char_data %}
<body class="captain-p" onload="char_size()">
{% else %}
<body class="captain-p">
{% endif %}
    <div class="lookup-main">
        {% block content %}
        {% comment %} Page primary content goes here {% endcomment %}
        {% endblock content %}
        <div class="lookup-foot-container">
            <p class="lookup-foot">This site uses data and images from Blizzard's World of Warcraft Community APIs. The site is in no way affiliated with or endorsed by Blizzard Entertainment, Inc.<br>
            World of Warcraft is a registered trademark of Blizzard Entertainment, Inc.</p>
        </div>
    </div>
</body>
</html>