<!DOCTYPE HTML>
<html lang="en">

<head>
    {% if title %}
    <title>Frer.se - {{ title }}</title>
    {% else %}
    <title>Frer.se</title>
    {% endif %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/lookup.css') }}">
    <link href="{{ url_for('static', filename='images/frerfavicon.png') }}" rel="icon" type="image/x-icon" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    {% block head %}
    {% endblock head %}
</head>
{% if char_data %}

<body class="captain-p" onload="char_size()">
    {% else %}

    <body class="captain-p">
        {% endif %}
        {% if nav == "true" %}
        <ul>
            {% if selection == "lookup" %}
            <li><a class="active" href="https://frer.se/lookup">Character</a>
                {% else %}
            <li><a href="https://frer.se">Character</a>
                {% endif %}
                {% if selection == "token" %}
            <li><a class="active" href="https://frer.se/token">Token</a>
                {% else %}
            <li><a href="https://frer.se/token">Token</a>
                {% endif %}
                {% if selection == "roster" %}
            <li><a class="active" href="https://frer.se/roster">Roster</a>
                {% else %}
            <li><a href="https://frer.se/roster">Roster</a>
                {% endif %}
        </ul>
        {% endif %}
        <div class="main-container">
            <div class="main-wrapper">
                {% block content %}
                {% endblock content %}
            </div>
            {% block footer %}
            {% endblock footer %}
        </div>
    </body>

</html>