{% extends "layout.html" %}
{% block head %}
<script src="{{ url_for('static', filename='scripts/lookup.js') }}"></script>
{% if char_data %}
<script>var whTooltips = {colorLinks: true, iconizeLinks: true, renameLinks: false, iconSize:'medium', "hide": { "droppedby": true, "dropchance": true, "sellprice": true, "reagents": true } };</script>
<script src="https://wow.zamimg.com/widgets/power.js"></script>
<script src="{{ url_for('static', filename='scripts/charsize.js') }}"></script>
{% endif %}
{% endblock head %}
{% block content %}
<span class="big-headline">
    Character info
</span>
<p>Show info about your World of Warcraft character</p>
<form onSubmit="return search_char();">
    <select name="realm_c" id="realm_c" required>
        {% if char_data %}
        <option value="{{char_data.realm|lower}}" selected>{{char_data.realm}}</option>
        {% else %}
        <option value="" disabled selected>Select realm</option>
        {% endif %}
        {% for row in realm_data %}
        <option value='{{ row|lower }}'>{{ row }}</option>
        {% endfor %}
    </select>
    <input type="text" name="name_c" id="name_c" placeholder="Character" required> <BR>
    <input type="submit" value="Search" class="lookup-butn">
</form>
{% if err_msg %}
<p class="search-error">{{ err_msg }}</p>
{% endif %}
<div class="flex-container" id="load-anim" style="display:none">
    <div class="load-anim">
        <div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div>
    </div>
</div>
{% if char_data %}
<div class="hideable-content" id="hideable-content">
    <p class="{{ color_class[char_data.class] }}-color name-box">{{ char_data.name }}</p>
    <div class="flex-container">
        <div class="lookup-box">
            <img src="https://render-eu.worldofwarcraft.com/character/{{ char_data.thumb }}" height="52" width="52"><br>
            <span>{{ char_data.name_with_title }}</span><br>
            <span>{{ char_data.guild }} @ {{ char_data.realm }}</span><br>
            <span>Lvl. {{ char_data.level }} {{ char_data.class }}</span><br>
            <span id="c_race">{{ char_data.race }}</span> <span id="c_gender">{{ char_data.gender }}</span><br>
            <span>Item level {{ char_data.ilvl }}</span><br><br>
            <span>Professions:</span><br>
            {% if char_data.profession2 == "Not learned" %}
            <span>{{ char_data.profession1 }}</span><br>
            {% else %}
            <span>{{ char_data.profession1 }} & {{ char_data.profession2 }}</span><br>
            {% endif %}
        </div>
        <div class="flex-containter-nowrap">
            <div class="lookup-gear">
                <a href="{{ char_data.head }}" target="_blank"><span class="hidden">Head</span></a><br>
                <a href="{{ char_data.neck }}" target="_blank"><span class="hidden">Neck</span></a><br>
                <a href="{{ char_data.shoulder }}" target="_blank"><span class="hidden">Shoulder</span></a><br>
                <a href="{{ char_data.back }}" target="_blank"><span class="hidden">Back</span></a><br>
                <a href="{{ char_data.chest }}" target="_blank"><span class="hidden">Chest</span></a><br>
                <a href="{{ char_data.wrist }}" target="_blank"><span class="hidden">Wrist</span></a><br>
                {{ char_data.mainhand|safe }}
                <a href="{{ char_data.offhand }}" target="_blank"><span class="hidden">Offhand</span></a>
            </div>
            <div class="lookup-picbox" id="picbox" style='background: url("{{ char_data.image }}") #000 no-repeat center center;background-size: 800px 600px;background-position: 50% 62%;'>
            </div>
            <div class="lookup-gear">
                <a href="{{ char_data.hands }}" target="_blank"><span class="hidden">hands</span></a><br>
                <a href="{{ char_data.waist }}" target="_blank"><span class="hidden">Waist</span></a><br>
                <a href="{{ char_data.legs }}" target="_blank"><span class="hidden">Legs</span></a><br>
                <a href="{{ char_data.feet }}" target="_blank"><span class="hidden">Feet</span></a><br>
                <a href="{{ char_data.finger1 }}" target="_blank"><span class="hidden">Finger1</span></a><br>
                <a href="{{ char_data.finger2 }}" target="_blank"><span class="hidden">Finger2</span></a><br>
                <a href="{{ char_data.trinket1 }}" target="_blank"><span class="hidden">Trinket1</span></a><br>
                <a href="{{ char_data.trinket2 }}" target="_blank"><span class="hidden">Trinket2</span></a>
            </div>
        </div>
        <div class="lookup-box">
            <span>Honorable kills: {{ char_data.hks }}</span><br>
            <span>Achievement points: {{ char_data.achievement }}</span><br>
            <span>Usable mounts: {{ char_data.mounts }}</span><br>
            <span>Unique pets: {{ char_data.pets }}</span><br>
            <span>Factions at exalted: {{ char_data.exalted }}</span><br>
            <span>Unique quests done: {{ char_data.quests }}</span><br>
        </div>
    </div>
</div>
{% else %}
<div class="hideable-content" id="hideable-content">
    <div class="flex-container">

    </div>
</div>
{% endif %}
{% endblock content %}
