{% extends "layout.html" %}
{% block content %}
<div class="flex-container-col">
    <span class="big-headline">
        Operatör
    </span>
    <p>Sök fram vilken operatör ett svenskt mobilnummer tillhör.</p>
    <form method="post">
        <input type="text" name="number" placeholder="Mobilnummer" required> <BR>
        <input type="submit" value="Sök" class="lookup-butn">
    </form>
    {% if data %}
        <p class="big-text"> {{ data }} </p>
    {% endif %}
</div>
{% endblock content %}