{% extends "layout.html" %}
{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/roster.css') }}">
{% endblock head %}
{% block content %}
<span class="big-headline">
    Fury
</span>
<p>Members of Fury on EU-Aggramar, updated hourly</p><br>
<form method="post">
    <button name="sort_class" type="submit" value="all" class="all-color roster-butn">All</button>
    <button name="sort_class" type="submit" value="deathknight" class="death-knight-color roster-butn">Death Knight</button>
    <button name="sort_class" type="submit" value="demonhunter" class="demon-hunter-color roster-butn">Demon Hunter</button>
    <button name="sort_class" type="submit" value="druid" class="druid-color roster-butn">Druid</button>
    <button name="sort_class" type="submit" value="hunter" class="hunter-color roster-butn">Hunter</button>
    <button name="sort_class" type="submit" value="mage" class="mage-color roster-butn">Mage</button>
    <button name="sort_class" type="submit" value="monk" class="monk-color roster-butn">Monk</button>
    <button name="sort_class" type="submit" value="paladin" class="paladin-color roster-butn">Paladin</button>
    <button name="sort_class" type="submit" value="priest" class="priest-color roster-butn">Priest</button>
    <button name="sort_class" type="submit" value="rogue" class="rogue-color roster-butn">Rogue</button>
    <button name="sort_class" type="submit" value="shaman" class="shaman-color roster-butn">Shaman</button>
    <button name="sort_class" type="submit" value="warlock" class="warlock-color roster-butn">Warlock</button>
    <button name="sort_class" type="submit" value="warrior" class="warrior-color roster-butn">Warrior</button>
</form>

<div class="roster-grp">
    {% for row in data %}
    <a href="https://frer.se/lookup/aggramar/{{row[0]}}">
        <div class="roster-box">
            <div>
                <span class="{{ color_class[row[1]] }}-color roster-name-tag">{{ row[0] }}</span> <span></span> <br>
                <span class="small-text">{{ row[2]}} {{ row[1]}}</span> <br>
                lvl.{{ row[4]}} <br>
                Item level {{ row[5]}}
            </div>
        </div>
    </a>
    {% endfor %}
</div>
{% endblock content %}
{% block footer %}
<footer class="main-foot">This site uses data and images from Blizzard's World of Warcraft Community APIs. The site is
    in no way affiliated with or endorsed by Blizzard Entertainment, Inc.<br>
    World of Warcraft is a registered trademark of Blizzard Entertainment, Inc.</footer>
{% endblock footer %}