{% extends "layout.html" %}
{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/roster.css') }}">
{% endblock head %}
{% block content %}
<span class="big-headline">
    Fury
</span>
<p>Current roster</p>
<div class="roster-grp">
    {% for row in data %}
        <div class="roster-box">
            <div>
                <span class="{{ color_class[row[1]] }}-roster">{{ row[0] }}</span>  <span></span> <br>
                <span class="small-text">{{ row[2]}} {{ row[1]}}</span> <br>
                lvl.{{ row[4]}} <br>
                Item level {{ row[5]}}
            </div>
        </div>
    {% endfor %}
</div>
{% endblock content %}
