<!DOCTYPE html>
<html>

<head>
    <title>{{ title }}</title>
</head>


<body>
    <div align="center" style="display: inline-block; width: 100%;">
        <h2>Test Page</h2><br>
        <hr>
        <table align="left">
            <tr>
                <td>Test Post</td>
            </tr>
            <tr>
                <td>2020-06-23</td>
            </tr>
            <tr>
                <td>TESTING TESTING TESTING</td>
            </tr>
        </table><br><br><br><br><br>
        <hr><br>
        <table align="left">
            <tr>
                <td>Test Post</td>
            </tr>
            <tr>
                <td>2020-06-23</td>
            </tr>
            <tr>
                <td>TESTING TESTING TESTING BLA BLA BLA BLA</td>
            </tr>
        </table><br><br><br><br><br>
        <hr><br>
        <table align="left">
            <tr>
                <td>Test Post</td>
            </tr>
            <tr>
                <td>2020-06-23</td>
            </tr>
            <tr>
                <td>TESTING TESTING TESTING</td>
            </tr>
        </table><br><br><br><br><br>
        <hr><br>


    </div>
</body>


</html>