{% extends "layout.html" %}
{% block content %}
<span class="big-headline">
    Fury
</span>
<p>Ranking by highest average equipped item level</p>
<div class="toplist-grp">
    {% for row in rank_list %}
    <div class="toplist-box">
        <a href="https://worldofwarcraft.com/en-gb/character/aggramar/{{ row[0] }}">
            <img src="{{ thumb[loop.index-1] }}" height="52" width="52">
        </a>
        <div class="toplist-text">
            <span>
                {{ loop.index }}. {{ row[0] }}
            </span>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock content %}
